@model Gradebook.Web.Models.LoginViewModel
@{
    ViewBag.Title = i18n.LogIn;
    Layout = "../Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Ajax.BeginForm("LogIn", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, null, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = i18n.Email })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = i18n.Password })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe)@i18n.RememberMe
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@i18n.SignIn" />
        </div>
    </div>
}