@using Gradebook.DAL.EF
@model dynamic

@{
    ViewBag.Title = i18n.Grades;
    var grades = (IEnumerable<Grade>)ViewBag.Grades;
}

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("AddGrade", "Admin", null, null, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*<div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = i18n.LastName })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = i18n.FirstName })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", placeholder = i18n.MiddleName })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.JobTitle, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control", placeholder = i18n.JobTitle })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.IsAdministrator)@i18n.Administrator
                </label>
            </div>
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            <input type="submit" class="btn btn-default" value="@i18n.Add" />
        </div>
        <div class="col-md-1">
            <input type="reset" value="@i18n.Clear" class="btn" />
        </div>
    </div>
}

@if (grades.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>@i18n.LastName</th>
                <th>@i18n.FirstName</th>
            </tr>
            @foreach (var grade in grades.OrderBy(g => g.GradeName))
            {
                <tr>
                    <td>@grade.GradeName</td>
                    <td>@grade.FormMaster.LastName @grade.FormMaster.FirstName @grade.FormMaster.MiddleName </td>
                </tr>
            }
        </table>
    </div>
}

