@using Gradebook.DAL.EF
@model Gradebook.Web.Models.Admin.AddSubjectModel

@{
    ViewBag.Title = i18n.Subjects;
    var subjects = (IEnumerable<Subject>)ViewBag.Subjects;
}

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("Subjects", "Admin", null, new AjaxOptions() { UpdateTargetId = "addSubjectForm" }, new { @class = "form-horizontal", role = "form", id = "addSubjectForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = i18n.Subject })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            <input type="submit" class="btn btn-default" value="@i18n.Add" />
        </div>
        <div class="col-md-1">
            <input type="reset" value="@i18n.Clear" class="btn" />
        </div>
    </div>
}

@if (subjects.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>@i18n.Subject</th>
            </tr>
            @foreach (var subject in subjects.OrderBy(s => s.SubjectName))
            {
                <tr>
                    <td>@subject.SubjectName</td>
                </tr>
            }
        </table>
    </div>
}