@using Microsoft.AspNet.Identity
@model bool

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    @if (Model)
    {
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink(i18n.LogOut, "LogOut", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink(i18n.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(i18n.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
</ul>


